@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --password-match-display: block;
}
body {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}
html {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: my-cool-font;
  src: url(Norse-Bold.otf);
}
@font-face {
  font-family: Norse-Bold;
  src: url(Norse-Bold.otf);
}
#image-section {
  height: 100vh;
  width: 40%;
  position: relative;
}
#plants-img {
  height: 100%;
  width: 100%;
}

#form-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
p {
  padding-left: 50px;
  width: 700px;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

fieldset {
  background-color: white;
  box-shadow: 0px 11px 12px -10px rgba(0, 0, 0, 0.2);

  border: 1px rgba(0, 0, 0, 0.1) solid;
  position: relative;
  margin: 0;
  padding: 65px 50px 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
legend {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 1.5rem;
}
button {
  color: white;
  width: 230px;
  height: 55px;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  background-color: #596d48;
  margin-left: 50px;
  margin-top: 30px;
  border-radius: 6px;
}
form + p {
  margin-top: 20px;
  margin-left: 50px;
  padding: 0;
  font-size: 1.2rem;
}
a {
  color: #596d48;
}
.form-div {
  display: flex;
  flex-direction: column;
}
.form-div > input {
  width: 230px;
  height: 23px;

  appearance: none;

  border: 1px rgb(160, 160, 160) solid;
  border-radius: 4px;
}
.form-row {
  display: flex;
  gap: 100px;
}
label {
  font-size: 0.8rem;
  color: rgb(54, 54, 54);
  letter-spacing: 2px;
}
.form-div > input:focus {
  appearance: none;
  outline: none;
  border: 2px rgb(3, 92, 180) solid;
  box-shadow: 3px 5px 12px -9px rgba(66, 68, 90, 1);
}
#password {
  position: relative;
}
#password + span::after {
  content: "*Passwords do not match";
  color: red;
  font-size: 0.7rem;
  position: absolute;
  left: 50px;
  display: var(--password-match-display);
}
.error {
  border: 2px red solid !important;
}
